html {
  position: relative;
  min-height: 100%;
}

body {
  background-color:#262626;
  color: white;
  padding-top: 56px;
  padding-bottom: 20px;
  margin-bottom: 70px;
  //border: 1px solid red;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}
/* room for paragraph/posts with inline images */
p, ul, .post-list, .recent-project-carousel{
  overflow:auto;
  //border: 1px solid red;
}

.jumbotron-cover{
    color:#fff;
    text-align: center;
    background: url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

/* room for navbar/toc */
h1[id],
h2[id],
h3[id],
h4[id]{
    padding-top: 60px;
    margin-top: -60px;
}
