<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
{% comment %}
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
{% endcomment %}
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="navbar-nav ml-auto">
        <!-- links -->
        <li class="nav-item">
          <a class="nav-link" href="{{ "/projects.html" | relative_url }}">Projects</a>
        </li>
        <!-- github -->
        <li class="nav-item">
          <a class="nav-link" href="{{ site.github.owner_url }}">
            <i class="fab fa-fw fa-github fa-lg"></i>Github</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
