---
layout: compress
---

<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include header.html %}
    {% include hero.html %}
    
    {% if page.layout=="project" %}
      <div class="container-fluid">
        {{ content }}
      </div>
    {% else %}
      <div class="container">
        {{ content }}
      </div>
    {% endif %}


    {% if site.disqus.shortname and page.use-disqus %}
      {% include disqus.html %}
    {% endif%}

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
