---
layout: default
---


  {{ content }}

  <!-- Display recent posts -->
<h4> Posts </h4>
<ul>
  {% for post in site.posts %}
    <li>
      <div class="post-list my-2">
        <h5>
          <a href="{{ post.url }} ">{{ post.title }}</a>
          <small class="text-muted">{{post.date | date: "%B %-d, %Y"}}</small>
        </h5>
        {% if post.featured-img %}
          <img src="{{ post.featured-img }}" class="mr-2" style="float:left; max-height:10rem; max-width:15rem;">
        {% endif %}
      	{{ post.excerpt | strip_html | truncate: 400 }}
        <a href="{{ post.url }}">Read the full post! &raquo</a>
      </div>
    </li>
  {% endfor %}
</ul>
