---
layout: default
---


{% comment %}
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#intro">intro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#parts">parts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#schematic">schematic</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#design">design</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#sources">sources</a>
    </li>

  </ul>
</nav>
{% endcomment %}

<div data-spy="scroll" data-target=".navbar" data-offset="50">
  {% comment %}<h1>{{ page.title }}</h1>{% endcomment %}
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ site.baseurl }}/projects.html">Projects</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#project-nav" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="project-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item nav-link"><a href="#">{{ page.title }}</a></li>
        {% include toc.html sanitize=true html=content h_min=2 h_max=2 class="navbar-nav.ml-auto" item_class="nav-item.nav-link" %}
        </ul>
      </div>
    </div>
  </nav>



{% comment %}
  <div class="jumbotron">
      <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-8">
              <div class="page-header">
                  <h2> Hybridisation Recombination and Introgression Detection and Dating </h2>
                  <p> <h2> <small> Easy detection, dating, and visualisation for recombination, introgression and hybridisation events in genomes. </small> </h2> </p>
              </div>
          </div>
      </div>
  </div>
  {% endcomment %}


  {{ content }}
</div>
