---
layout: default
---


<div data-spy="scroll" data-target=".navbar" data-offset="50">
  {% comment %}<h1>{{ page.title }}</h1>{% endcomment %}
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ site.baseurl }}/projects.html">Projects</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#project-nav" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="project-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item nav-link"><a href="#">{{ page.title }}</a></li>
        {% include toc.html sanitize=true html=content h_min=2 h_max=2 class="navbar-nav.ml-auto" item_class="nav-item.nav-link" %}
        </ul>
      </div>
    </div>
  </nav>

  {{ content }}

  {% if site.disqus.shortname %}
    {% include disqus.html %}
  {% endif %}
</div>
